<apex:page sidebar="false" showHeader="false" controller="PreferencesController">
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />    
    <link rel="stylesheet" type="text/css" href="css/form-styles.css" media="all" />  
    
     <apex:stylesheet value="{!URLFOR($Resource.NPS2, '/css/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.NPS2, '/css/form-styles.css')}"/>
    <title> Thanks for your feedback | Addison Lee</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
    <body class="">

        <header class="nav-down">
            <a class="home" href="https://www.addisonlee.com/"> <img src="https://www.addisonlee.com/wp-content/themes/addlee-2014/static/images/logo_2x.png" width="120" height="60" alt="Addison Lee" /> </a>
            <nav>
                <div id="nav-icon"> <span></span> <span></span> <span></span></div>
                <h5>Main Navigation</h5>
                <ul id="primary-nav">
                    <li class="sign-up"> <a href="https://book.addisonlee.com/al/registration" class="booknow-btn ns-booknow" onclick="dataLayer.push({'event': 'Click', 'eventCategory' : 'click', 'eventAction' : 'signUp', 'eventLabel': 'menu'});">Sign up</a></li>
                    <li class="log-in"> <a href="https://book.addisonlee.com/" onclick="dataLayer.push({'event': 'Click', 'eventCategory' : 'click', 'eventAction' : 'login', 'eventLabel': 'menu'});">Log in</a></li>
                </ul> <a href="tel:020 7407 9000" class="contact" onclick="dataLayer.push({'event': 'Click', 'eventCategory' : 'click', 'eventAction' : 'call', 'eventLabel': 'menu'});">To book now call 020 7407 9000</a> </nav>
        </header>
        
        <article class="feature">
            <section>
                <h1>Your Preferences</h1>
                <br/>
                <p style="margin-top:20px!important;">We want to send you content that is relevant and useful to you. Choose from the below options and we''ll make sure that you only receive content that you really want.</p>

            <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_34">
                <apex:form >
                    <input name="gpps_page_progression_34" value="" type="hidden"/>
                    <input id="Id" name="Id" value="" type="hidden"/>
                    <input id="isAccount" name="isAccount" value="" type="hidden"/>
                    <input id="AccountId" name="AccountId" value="" type="hidden"/>
                    <input id="EmailAddress" name="EmailAddress" value="" type="hidden"/>
                    <div class="gform_body gfield_checkbox">
                        <table class="preference-centre">
                            <thead>
                                <tr>
                                    <th></th>

                                    <th>Email</th>

                                    <th>SMS</th>

                                    <th>Post</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Surveys and research</th>
                                    <apex:inputHidden value="{!emailfield}" id="emailfieldId"/> 
                                     <td><input id="choice_9_7" name="input_9.7" class="check" tabindex="15" value="Email" onchange="document.getElementById('{!$Component.emailfieldId}').value = this.checked;" type="checkbox"/><label for="choice_9_7" id="label_9_7"></label></td>
                                    <apex:inputHidden value="{!smsfield}" id="smsfieldId"/> 
                                    <td><input id="choice_9_8" name="input_9.8" class="check" tabindex="16" value="SMS" onchange="document.getElementById('{!$Component.smsfieldId}').value = this.checked;" type="checkbox"/><label for="choice_9_8" id="label_9_8"></label></td>
                                    <apex:inputHidden value="{!postfield}" id="postfieldId"/> 
                                    <td><input id="choice_9_9" name="input_9.9" class="check" tabindex="17" value="Post" onchange="document.getElementById('{!$Component.postfieldId}').value = this.checked;" type="checkbox"/><label for="choice_9_9" id="label_9_9"></label></td> 
                                </tr>

                               
                                
                            </tbody>
                        </table>
                    </div>

                    <div class="gform_page_footer">
                        <!-- <input class="gform_next_button button" id="gform_next_button_27_31" tabindex="21" value="Save" type="Submit"/> -->
                        <apex:commandButton value="Save" id="Submit" action="{!saveMethod}"/>
                    </div>
                    </apex:form>
            </div>
            </section>
        </article>
        <footer>
            <aside>

                <div class="menu">
                    <ul class="links">
                        <li id="menu-item-9256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9256"><a href="https://www.addisonlee.com/terms/">Terms &#038; Conditions</a></li>
                        <li id="menu-item-9257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9257"><a href="https://www.addisonlee.com/privacy-policy/app/">Privacy Policy</a></li>
                        <li id="menu-item-9258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9258"><a href="https://www.addisonlee.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
                <p>&copy; 2015 Addison Lee Limited, Registered in England: No. 01205530.
                    <br/><span> | </span> Registered Office: 35-37 William Road, London NW1 3ER</p>
            </aside>
        </footer>
    </body>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var feedbackState;
            var feedbackMessage;
            // get url param value and set variable
            if (window.location.href.indexOf("?feedback=1") > -1) {
                feedbackState = 1;
                feedbackMessage = 'Thanks for your feedback. What was the best part of the experience?';

            } else if (window.location.href.indexOf("?feedback=2") > -1) {
                feedbackState = 2;
                feedbackMessage = 'Thanks for your feedback. What was the best part of the experience?';

            } else if (window.location.href.indexOf("?feedback=3") > -1) {
                feedbackState = 3;
                feedbackMessage = 'Thanks for your feedback. How could we improve?';

            } else if (window.location.href.indexOf("?feedback=4") > -1) {
                feedbackState = 4;
                feedbackMessage = 'Sorry to hear that. How could we improve?';

            }
            $('.feedback-message').text(feedbackMessage);

            // declare conditions

            if (feedbackState == 1) {
                $('#feedback_1.feedback-emoji').addClass('selected');


            } else if (feedbackState == 2) {
                $('#feedback_2.feedback-emoji').addClass('selected');

            } else if (feedbackState == 3) {
                $('#feedback_3.feedback-emoji').addClass('selected');

            } else if (feedbackState == 4) {
                $('#feedback_4.feedback-emoji').addClass('selected');

            }
            
            if({!emailfield})
            {
                $('#choice_9_7').prop('checked', true);
            }
            
            if({!smsfield})
            {
                $('#choice_9_8').prop('checked', true);
            }
            
            if({!postfield})
            {
                $('#choice_9_9').prop('checked', true);
            }

        });
    </script>

</html>

</apex:page>